@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --fonte-principal: 'Jura', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    min-height: 100%;
}

body{
    background-color: #000;
    color: #FFF;
    width: 100%;
    height: 100%;
}

header{
    margin: 25px;
}

header h1{
    color: #FFF;
    text-align: center;
    margin: 40px 20px;
    font-family: var(--fonte-principal);
    font-size: 3.2em;
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px 90px;
}

main div{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 25px;
}

main div p{
    color: #FFF;
    font-family: var(--fonte-principal);
    font-size: 1.2em;
    font-weight: bold;
    width: 65%;
}

main div button{
    color: #FFF;
    background-color: #407BFF;
    border: 2px solid #FFF;
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
}

main div button:hover{
    background-color: #000;
    color: #407BFF;
}

main img{
    width: 30%;
}

footer{
    font-family: var(--fonte-principal);
    font-size: 1.2em;
}

nav{
    padding: 20px 90px;
}

nav a{
    padding: 15px;
    color: #FFF;   
}

nav a:hover{
    color: #407BFF;
}

@media screen and (max-width: 1099px){
    main{
        flex-direction: column-reverse;
    }

    main div{
        justify-content: center;
        align-items: center;
        margin: 35px;
    }

    main div p{
        text-align: center;
        width: 100%;
    }

    main img{
        width: 40%;
    }
}

@media screen and (max-width: 600px){
    main img{
        width: 90%;
    }

    nav a{
        padding: 5px;  
    }
}