@charset "UTF-8";

:root{
    --font-arial: Arial, Helvetica, sans-serif;

    --red: #DE1F27;
    --black: #000;
    --grey: #7c7b7b;
    --white: #FFF;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-size: 100%;
    color: var(--black);
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header div.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

header img{
    width: 5%;
}

header img{
    width: 5%;
}

header nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    font-size: 1.2em;
}

header nav a{
    color: var(--grey);
    font-family: var(--font-arial);
}

header nav a:hover{
    color: var(--black);
}

main{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    padding-top: 45px;
    gap: 20px;
}

main div.info h1{
    font-family: var(--font-arial);
    font-size: 2.2em;
    padding-bottom: 15px;
}

main div.info p{
    font-family: var(--font-arial);
    font-size: 1.2em;
    padding-bottom: 15px;
    width: 500px;
    color: var(--grey);
}

button{
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid var(--white);
    border-radius: 20px;
    color: var(--white);
    background-color: var(--red);
    font-size: 0.9em;
    font-weight: 600;
}

button:hover{
    opacity: 0.8;
}

main img{
    width: 25%;
    animation: flash 2s infinite alternate;
}

@keyframes flash{
    from{
        transform: translateY(30px);
    }
    to{
        transform: translateY(0px);
    }
}

@media (max-width: 1024px){
    header img{
        width: 8%;
    }

    main div.info p{
        width: 300px;
    }

    main img{
        width: 50%;
        animation: none;
    }
}

@media screen and (max-width: 650px){
    header{
        flex-direction: column;
    }

    main{
        flex-direction: column-reverse;
    }

    main div.info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}